body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #00AAFF, #00FF6C);
}

.calc-all {
    display: grid;
    /*
    padding: 20px;
    border-radius: 10px;
    width: 400px;*/
    border: 3px solid darkslategrey;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    max-width: fit-content;
    background-color:  rgba(125, 135, 168, 0.918);
    box-shadow: 5px 10px 20px black;
}

div {
    text-align: center;
    padding: 10px;

    display: flex;
    justify-content: center;
}

.calc-cont {
    display: flex;
    flex-direction: row;
}

/* .btnOpp {
    margin: 10px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);

} */

.btn, .btnOpp, .equal, .allclear {
    margin: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px double white;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 5px 5px 18px black;

}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.btnOpp:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.equal:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.allclear:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.result {
    grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  height: 100px;
  width: 450px;
}

.result .previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}
.result .current-operand{
    color: white;
    font-size: 2.5rem;
}