/* body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #00AAFF, #00FF6C);
} */

.calc-all {
    display: grid;
    /* display: flex; 
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 400px;*/
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

div {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.calc-cont {
    display: flex;
    flex-direction: row;
}

.btnOpp {
    margin: 10px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    cursor: pointer;
    font-size: 2rem;
    
}

.btn {
    margin: 10px;
    padding: 15px;
    border: 1px double white;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
}

.result {
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}